

.imagen-contacto {
  background-image: url(../../../build/img/encuentra.jpg); // ✅ directo, sin clases
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: $separacion 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;

  h2 {
    color: $blanco;
  }
}

