.footer {
  background-color: $grisclaro;
  margin: 0;
  color: $blanco;

  .contenedor-footer {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

 
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .titulo-footer {
    font-size: 1.8rem;
  }

  /* Redes sociales */
  .redes-sociales {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    a {
      font-size: 26px;
      text-decoration: none;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  /* Colores reales de redes */
  .facebook {
    color: #1877f2;
  }

  .instagram {
    background: radial-gradient(circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .whatsapp {
    color: #25d366;
  }

  /* Copyright */
  .copyright {
    font-size: 1.4rem;
    opacity: 0.8;
    text-align: center;
  }
}