@include tablet{
    .iconos-nosotros{
        @include grid(3, 3rem);
    }
}
 
.icono{
    text-align: center;
    img{
        width: 15rem;
        height: 15rem;
        display: block;
        margin: 0 auto;
    }
    h3 {
        text-transform: uppercase;
        
    }
    p {
        text-align: justify;
        background-color: lighten($gris, 5);
        border:1px solid darken($gris, 10);
        border-radius: 2rem;
        padding: 1rem;
       

    }
    
}