// archivo: src/scss/layout/_proyectos.scss

@include tablet {
    .contenedor-proyectos {
        @include grid(3, 2rem);
    }
}

.proyecto {
    // ✅ Usamos las variables precalculadas en lugar de lighten/darken
    background-color: $gris-claro-5;
    border: 1px solid $gris-oscuro-10;
    border-radius: 2rem;

    .contenido-proyecto {
        padding: 2rem;
    }

    h3 {
        margin: 0;
        text-transform: uppercase;
        font-weight: $regular;
    }

    p {
        text-decoration: none;
        text-align: justify;
        margin: 0;
        font-weight: $delgada;
    }
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;

    li {
        flex: 1;
        display: flex;

        img {
            flex: 0 0 3rem;
            margin-right: 1rem;
        }

        p {
            font-weight: $black;
        }
    }
}

.proyectos-subtitulo {
    text-align: center;
    color: $grisclaro;
    font-size: 1.7rem;
    max-width: 60rem;
    margin: -1rem auto 4rem;
    line-height: 1.6;
}  